<div class="member-operate vertical-layout">
  <div class="large-title underline-title vertical-header">会员信息</div>
  <div class="vertical-main">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-2 control-label">姓名</label>
        <div class="col-sm-9">
          <input
            class="form-control"
            type="text"
            readonly="readonly"
            value="2"
          />
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">性别</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">邮政编码</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">手机号</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">邮箱</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">通信地址</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">剩余次数</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" />
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-9">
          <button class="btn btn-default" type="submit">保存</button>
          <button class="btn btn-default" type="button">返回</button>
        </div>
      </div>
    </form>
  </div>
</div>
