<div class="member-operate vertical-layout">
  <div class="large-title underline-title vertical-header">{{ title }}</div>
  <div class="vertical-main">
    <form class="form-horizontal" [formGroup]="myForm">
      <div class="form-group">
        <label class="col-sm-2 control-label">姓名<span>*</span></label>
        <div class="col-sm-9">
          <input class="form-control" type="text" formControlName="name" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">手机号<span>*</span></label>
        <div class="col-sm-9">
          <input class="form-control" type="text" formControlName="phone" />
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">联系地址</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" formControlName="address" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">邮箱</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" formControlName="email" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">邮政编码</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" formControlName="postCode" />
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-9">
          <button class="btn btn-default" type="button" (click)="submit()">
            保存
          </button>
          <button class="btn btn-default" type="button" (click)="reset()">
            返回
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
