<div class="baby-list vertical-layout">
  <div class="vertical-header">
    <div class="large-title underline-title">宝宝列表</div>
  </div>

  <div class="vertical-main">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>编号</th>
            <th>宝宝姓名</th>
            <th>性别</th>
            <th>生日</th>
            <th>是否早产</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>889264767</td>
            <td>李梓欣</td>
            <td>女</td>
            <td>2020-12-3</td>
            <td>足月</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- <div class="vertical-footer" style="justify-content: flex-end">
    <div class="footer-item">
      <app-paginator
        *ngIf="page"
        [showFirstLastButtons]="true"
        [length]="page.TotalRecordCount"
        [pageSize]="page.PageSize"
        [pagerCount]="pagerCount"
        [pageIndex]="pageIndex - 1"
        (page)="pageEvent($event)"
      >
      </app-paginator>
    </div>
  </div> -->
</div>
