<div class="baby-manage vertical-layout">
  <div class="vertical-header">
    <div class="large-title underline-title">宝宝列表</div>
    <div>
      <button class="btn btn-default" (click)="addBaby()">添加宝宝</button>
      <button class="btn btn-default" (click)="backMember()">返回</button>
    </div>
  </div>

  <div class="vertical-main">
    <div class="table-header">
      <table>
        <colgroup>
          <col style="width: 8%" />
          <col style="width: 8%" />
          <col style="width: 8%" />
          <col style="width: 8%" />
          <col style="width: 8%" />
          <col style="width: 8%" />
          <col style="width: 8%" />
          <col style="width: 8%" />
          <col style="width: 8%" />
        </colgroup>
        <thead>
          <tr>
            <th>编号</th>
            <th>宝宝姓名</th>
            <th>性别</th>
            <th>生日</th>
            <th>监护人</th>
            <th>监护人关系</th>
            <th>是否早产</th>
            <th>创建时间</th>
            <th>操作</th>
          </tr>
        </thead>
      </table>
    </div>

    <div class="table-body">
      <table>
        <colgroup>
          <col style="width: 8%" />
          <col style="width: 8%" />
          <col style="width: 8%" />
          <col style="width: 8%" />
          <col style="width: 8%" />
          <col style="width: 8%" />
          <col style="width: 8%" />
          <col style="width: 8%" />
          <col style="width: 8%" />
        </colgroup>
        <tbody>
          <ng-container *ngFor="let model of dataSource; let i = index">
            <tr>
              <td>{{ (i + 1).toString().padStart(3, "0") }}</td>
              <td>{{ model.name }}</td>
              <td>{{ model.gender }}</td>
              <td>{{ model.birthday }}</td>
              <td>{{ model.m_name }}</td>
              <td>{{ model.m_relate }}</td>
              <td>{{ model.premature }}</td>
              <td>{{ model.create_time }}</td>
              <td>
                <a tabindex>编辑</a>
                <span>|</span>
                <a tabindex>删除</a>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
