<div class="doctor-manage vertical-layout">
  <div class="vertical-header" style="justify-content: flex-start">
    <div class="large-title underline-title">医生列表</div>
    <button class="btn btn-default" (click)="addDoctor()">添加医生</button>
    <button class="btn btn-default" (click)="backCompany()">返回</button>
  </div>

  <div class="vertical-main">
    <div class="table-header">
      <table>
        <colgroup>
          <col style="width: 16%" />
          <col style="width: 14%" />
          <col style="width: 14%" />
          <col style="width: 14%" />
          <col style="width: 14%" />
          <col style="width: 14%" />
          <col style="width: 14%" />
        </colgroup>
        <thead>
          <tr>
            <th>编号</th>
            <th>医生名称</th>
            <th>职称</th>
            <th>科室</th>
            <th>手机号</th>
            <th>操作</th>
          </tr>
        </thead>
      </table>
    </div>

    <div class="table-body">
      <table>
        <colgroup>
          <col style="width: 16%" />
          <col style="width: 14%" />
          <col style="width: 14%" />
          <col style="width: 14%" />
          <col style="width: 14%" />
          <col style="width: 14%" />
          <col style="width: 14%" />
        </colgroup>
        <tbody>
          <ng-container *ngFor="let model of dataSource; let i = index">
            <tr>
              <td>{{ (i + 1).toString().padStart(3, "0") }}</td>
              <td>{{ model.name }}</td>
              <td>{{ model.level }}</td>
              <td>{{ model.dept }}</td>
              <td>{{ model.phone }}</td>
              <td>
                <a tabindex (click)="editDoctor(model)">编辑</a>
                <span>|</span>
                <a tabindex (click)="deleteDoctor(model)">删除</a>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
