<div class="doctor-manage vertical-layout">
  <div class="vertical-header">
    <div class="large-title underline-title">医生列表</div>
    <button class="btn btn-default" routerLink="../doctor-operate">
      添加医生
    </button>
  </div>

  <div class="vertical-main">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>编号</th>
            <th>医生名称</th>
            <th>职称</th>
            <th>科室</th>
            <th>手机号</th>
            <th>所属医院</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2</td>
            <td>001</td>
            <td></td>
            <td></td>
            <td></td>
            <td>昆明长和天城康复医院</td>
            <td><a href="selectBdoctorByDidEpa.action?Did=2">编辑</a></td>
          </tr>

          <tr>
            <td>8</td>
            <td>002</td>
            <td></td>
            <td></td>
            <td></td>
            <td>昆明长和天城康复医院</td>
            <td><a href="selectBdoctorByDidEpa.action?Did=8">编辑</a></td>
          </tr>

          <tr>
            <td>9</td>
            <td>003</td>
            <td></td>
            <td></td>
            <td></td>
            <td>昆明长和天城康复医院</td>
            <td><a href="selectBdoctorByDidEpa.action?Did=9">编辑</a></td>
          </tr>

          <tr>
            <td>10</td>
            <td>004</td>
            <td></td>
            <td></td>
            <td></td>
            <td>昆明长和天城康复医院</td>
            <td><a href="selectBdoctorByDidEpa.action?Did=10">编辑</a></td>
          </tr>

          <tr>
            <td>11</td>
            <td>005</td>
            <td></td>
            <td></td>
            <td></td>
            <td>昆明长和天城康复医院</td>
            <td><a href="selectBdoctorByDidEpa.action?Did=11">编辑</a></td>
          </tr>

          <tr>
            <td>12</td>
            <td>006</td>
            <td></td>
            <td></td>
            <td></td>
            <td>昆明长和天城康复医院</td>
            <td><a href="selectBdoctorByDidEpa.action?Did=12">编辑</a></td>
          </tr>

          <tr>
            <td>13</td>
            <td>007</td>
            <td></td>
            <td></td>
            <td></td>
            <td>昆明长和天城康复医院</td>
            <td><a href="selectBdoctorByDidEpa.action?Did=13">编辑</a></td>
          </tr>

          <tr>
            <td>14</td>
            <td>008</td>
            <td></td>
            <td></td>
            <td></td>
            <td>昆明长和天城康复医院</td>
            <td><a href="selectBdoctorByDidEpa.action?Did=14">编辑</a></td>
          </tr>

          <tr>
            <td>15</td>
            <td>009</td>
            <td></td>
            <td></td>
            <td></td>
            <td>昆明长和天城康复医院</td>
            <td><a href="selectBdoctorByDidEpa.action?Did=15">编辑</a></td>
          </tr>

          <tr>
            <td>16</td>
            <td>010</td>
            <td></td>
            <td></td>
            <td></td>
            <td>昆明长和天城康复医院</td>
            <td><a href="selectBdoctorByDidEpa.action?Did=16">编辑</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="vertical-footer" style="justify-content: flex-end">
    <div class="footer-item">
      <!-- <app-paginator
        *ngIf="page"
        [showFirstLastButtons]="true"
        [length]="page.TotalRecordCount"
        [pageSize]="page.PageSize"
        [pagerCount]="pagerCount"
        [pageIndex]="pageIndex - 1"
        (page)="pageEvent($event)"
      >
      </app-paginator> -->
    </div>
  </div>
</div>
