<div class="order-manage vertical-layout">
  <div class="vertical-header">
    <div class="large-title underline-title">订单列表</div>
    <div class="operate-bar">
      <div class="left-wrapper questDate">
        <button class="btn btn-default" style="margin-left: 10px">
          导出数据
        </button>
      </div>
      <div class="right-wrapper">
        <input type="search" class="search" />
        <button class="btn btn-default btnSearch">搜索</button>
      </div>
    </div>
  </div>

  <div class="vertical-main">
    <div class="table-header">
      <table>
        <colgroup>
          <col style="width: 10%" />
          <col style="width: 10%" />
          <col style="width: 10%" />
          <col style="width: 10%" />
          <col style="width: 10%" />
          <col style="width: 10%" />
          <col style="width: 10%" />
        </colgroup>
        <thead>
          <tr>
            <th>编号</th>
            <th>姓名</th>
            <th>付款手机</th>
            <th>订单金额</th>
            <th>消费类型</th>
            <th>订单日期</th>
            <th>操作</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="table-body">
      <table>
        <colgroup>
          <col style="width: 10%" />
          <col style="width: 10%" />
          <col style="width: 10%" />
          <col style="width: 10%" />
          <col style="width: 10%" />
          <col style="width: 10%" />
          <col style="width: 10%" />
        </colgroup>
        <tbody>
          <ng-container *ngFor="let model of dataSource; let i = index">
            <tr>
              <td>{{ (i + 1).toString().padStart(3, "0") }}</td>
              <td>{{ model.name }}</td>
              <td>{{ model.phone }}</td>
              <td>{{ model.price }}</td>
              <td>{{ model.orderType }}</td>
              <td>{{ model.createTime }}</td>
              <td>
                <a tabindex>删除</a>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>

  <div class="vertical-footer" style="justify-content: flex-end">
    <div class="footer-item">
      <app-paginator
        *ngIf="page"
        [showFirstLastButtons]="true"
        [length]="page.totalRecordCount"
        [pageSize]="page.pageSize"
        [pagerCount]="pagerCount"
        [pageIndex]="pageIndex - 1"
        (page)="pageEvent($event)"
      >
      </app-paginator>
    </div>
  </div>
</div>
