<div class="login">
  <div class="login-content">
    <div class="normal-title center-title">在线筛查后台管理</div>

    <div class="form-wrapper">
      <form class="form-horizontal" [formGroup]="formGroup">
        <div class="form-group">
          <div class="col-sm-9">
            <input
              class="form-control"
              type="text"
              placeholder="账号"
              formControlName="username"
              autocomplete="new-password"
            />
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-9">
            <input
              class="form-control"
              type="password"
              placeholder="密码"
              formControlName="password"
              autocomplete="new-password"
            />
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-9">
            <button
              class="btn btn-primary btn-lg col-sm-12"
              type="button"
              (click)="login()"
            >
              登录
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
