<div class="member-manage vertical-layout">
  <div class="vertical-header">
    <div class="large-title underline-title">会员列表</div>
    <div class="operate-bar">
      <div class="left-wrapper questDate">
        选择时间:&nbsp;
        <input
          class="form-control"
          type="text"
          placeholder="开始时间"
          readonly
          DateTimePicker
          [format]="dateFormat"
          (change)="changeBegin($event)"
        />
        <span>-</span>
        <input
          class="form-control"
          type="text"
          placeholder="结束时间"
          readonly
          DateTimePicker
          [format]="dateFormat"
          (change)="changeEnd($event)"
        />
        <button class="btn btn-default" (click)="addMember()">添加会员</button>
      </div>
    </div>
    <div class="operate-bar">
      <div class="left-wrapper">
        <button class="btn btn-default" (click)="exportASQ()">
          导出ASQ数据
        </button>
        <button class="btn btn-default" (click)="exportASQSE()">
          导出ASQSE数据
        </button>
        <button class="btn btn-default" (click)="exportASQSE2()">
          导出ASQSE2数据
        </button>
      </div>
      <div class="right-wrapper">
        <input
          type="search"
          class="search"
          [(ngModel)]="searchInfo.name"
          placeholder="姓名"
          (keyup.enter)="search()"
        />
        <button class="btn btn-default btnSearch" (click)="search()">
          搜索
        </button>
      </div>
    </div>
  </div>

  <div class="vertical-main">
    <div class="table-header">
      <table>
        <colgroup>
          <col style="width: 10%" />
          <col style="width: 10%" />
          <col style="width: 5%" />
          <col style="width: 14%" />
          <col style="width: 14%" />
          <col style="width: 14%" />
          <col style="width: 14%" />
          <col style="width: 14%" />
        </colgroup>
        <thead>
          <tr>
            <th>编号</th>
            <th>姓名</th>
            <th>性别</th>
            <th>手机号</th>
            <th>地址</th>
            <th>剩余次数</th>
            <th>注册时间</th>
            <th>操作</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="table-body">
      <table>
        <colgroup>
          <col style="width: 10%" />
          <col style="width: 10%" />
          <col style="width: 5%" />
          <col style="width: 14%" />
          <col style="width: 14%" />
          <col style="width: 14%" />
          <col style="width: 14%" />
          <col style="width: 14%" />
        </colgroup>
        <tbody>
          <ng-container *ngFor="let model of dataSource; let i = index">
            <tr>
              <td>{{ (i + 1).toString().padStart(3, "0") }}</td>
              <td>{{ model.name }}</td>
              <td>{{ model.gender }}</td>
              <td>{{ model.phone }}</td>
              <td>{{ model.address }}</td>
              <td>{{ model.surveyLeft }}</td>
              <td>{{ model.create_time }}</td>
              <td>
                <a tabindex (click)="editMember(model)">编辑</a> <span>|</span>

                <a tabindex (click)="deleteMember(model)">删除</a>
                <span>|</span>

                <a tabindex (click)="babyManage(model)">宝宝</a>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>

  <div class="vertical-footer" style="justify-content: flex-end">
    <div class="footer-item">
      <div class="footer-info">
        <div class="info-item">当前数量: {{ page && page.RecordCount }}</div>
        <div class="info-item">总数量: {{ page && page.TotalRecordCount }}</div>
        <app-paginator
          *ngIf="page"
          [showFirstLastButtons]="true"
          [length]="page.TotalRecordCount"
          [pageSize]="page.PageSize"
          [pagerCount]="pagerCount"
          [pageIndex]="pageIndex - 1"
          (page)="pageEvent($event)"
        >
        </app-paginator>
      </div>
    </div>
  </div>
</div>
