// .company-manage {
//   width: 100%;
//   height: 100%;
// }

// :host {
//   width: 100%;
//   height: 100%;
// }

// @media (max-width: 600px) {
// }

.operate-bar {
  margin-bottom: 5px;
}
.questDate {
  input {
    width: 150px;
  }
  span {
    margin: 0 5px;
  }
}

button {
  margin: 0 5px;
}
