<div class="company-manage vertical-layout">
  <div class="vertical-header">
    <div class="large-title underline-title">机构列表</div>
    <div class="operate-bar">
      <div class="left-wrapper questDate">
        <input
          class="form-control"
          type="text"
          placeholder="筛查时间"
          readonly
          DateTimePicker
          [format]="dateFormat"
        />
        <span>-</span>
        <input
          class="form-control"
          type="text"
          placeholder="筛查时间"
          readonly
          DateTimePicker
          [format]="dateFormat"
        />
        <button class="btn btn-default" style="margin-left: 10px">
          导出机构数据
        </button>
        <button class="btn btn-default" (click)="register()">开通账号</button>
      </div>
    </div>
    <div class="operate-bar">
      <div class="left-wrapper">
        <button class="btn btn-default" (click)="exportASQ()">
          导出ASQ数据
        </button>
        <button class="btn btn-default" (click)="exportASQSE()">
          导出ASQSE数据
        </button>
        <button class="btn btn-default" (click)="exportASQSE2()">
          导出ASQSE2数据
        </button>
      </div>
      <div class="right-wrapper">
        <input
          type="search"
          class="search"
          [(ngModel)]="searchInfo.Name"
          placeholder="企业账号或者企业名称"
          (keyup.enter)="search()"
        />
        <button class="btn btn-default btnSearch" (click)="search()">
          搜索
        </button>
      </div>
    </div>
  </div>

  <div class="vertical-main">
    <common-table
      [dataSubject]="dataSubject"
      [columnModel]="columnModel"
      [displayedColumns]="displayedColumns"
      [tableOperates]="tableOperates"
    ></common-table>
  </div>

  <div class="vertical-footer" style="justify-content: flex-end">
    <div class="footer-item">
      <app-paginator
        *ngIf="page"
        [showFirstLastButtons]="true"
        [length]="page.TotalRecordCount"
        [pageSize]="page.PageSize"
        [pagerCount]="pagerCount"
        [pageIndex]="pageIndex - 1"
        (page)="pageEvent($event)"
      >
      </app-paginator>
    </div>
  </div>
</div>
