<div class="inform-manage vertical-layout">
  <div class="vertical-header">
    <div class="large-title underline-title">发送通知</div>
  </div>
  <div class="vertical-main">
    <div>
      <div><h3>正在展示的通知</h3></div>
      <div>
        <textarea
          rows="5"
          cols="80"
          maxlength="100"
          placeholder="暂无通知展示"
          readonly="readonly"
          [value]="messageToShow"
        ></textarea>
      </div>
      <div>
        <button class="press" (click)="deleteInform()">删除通知</button>
      </div>
    </div>
    <div style="margin-top: 50px">
      <div><h3>如需发送新通知请直接在下面填写并发送</h3></div>
      <div>
        <textarea
          rows="10"
          cols="80"
          maxlength="100"
          name="content"
          placeholder="发送通知会显示在企业端登录页和首页，最多100字,发送的通知会覆盖掉上一条通知，一次最多展示一条通知"
          required="required"
          [(ngModel)]="messageToSubmit"
        ></textarea
        ><br />
      </div>
      <div>
        <button class="press" (click)="submit()">发送通知</button>
      </div>
    </div>
  </div>
</div>
