/* You can add global styles to this file, and also import other style files */

@import url(assets/fonts/howell.font/howell.font.css);
@import url(assets/fonts/glyphicons/glyphicons-halflings.css);

@import "~ngx-toastr/toastr";

@import url(assets/css/font-awesome.css);
@import url(assets/css/howell.css);
@import url(assets/css/media.css);

html,
body {
  height: 100%;
}
body {
  background-color: #fff;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
}

app-root {
  @import url(assets/less/index.less);
}
